@charset "ISO-8859-1";
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    margin-top:10px;
    margin-left:700px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position:center;
}